{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1 class="form-title">Connexion</h1>

    {% if error %}
        <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="login-form">
        <div class="form-group">
            <label for="email" class="form-label">Email :</label>
            <input type="text" id="email" name="email" value="{{ last_username }}" required class="form-input">
        </div>

        <div class="form-group">
            <label for="password" class="form-label">Mot de passe :</label>
            <input type="password" id="password" name="password" required class="form-input">
        </div>

        <button type="submit" class="form-button">Se connecter</button>
    </form>
{% endblock %}

