{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Bienvenue sur notre plateforme d'apprentissage</h1>
        <p>C'est ici que vous trouverez les meilleurs cours en ligne pour améliorer vos compétences.</p>
        <a href="{{ path('course_index') }}" class="btn btn-primary">Voir les cours</a>
    </div>
{% endblock %}
