{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="homepage-banner">
        <h1 class="homepage-title">Bienvenue sur notre plateforme </br><img src="{{ asset('images/logo.png') }}" alt="S&M Logo" class="title-image"><span class="title">S&M Studies</span><img src="{{ asset('images/logo.png') }}" alt="S&M Logo" class="title-image"></h1>
        <p class="homepage-description">C'est ici que vous trouverez les meilleurs cours en ligne pour améliorer vos compétences.</p>
        <a href="{{ path('course_index') }}" class="custom-button red-button full-width">Voir les cours</a>
    </div>
{% endblock %}
